
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


    <h2>AdminHome</h2>

@*
<div>@Html.ActionLink("View Customers", "DisplayCustomer")</div>
<div>@Html.ActionLink("View Drivers", "DisplayDriver")</div>
<div>@Html.ActionLink("Handle Locations", "Index", "Location")</div>
<div>@Html.ActionLink("Add Another Admin", "AddAdmin")</div>*@
