<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
@model System.Web.Mvc.HandleErrorInfo
<h4>Error Occurred</h4>
<h2>
    Exception Details: @Model.Exception
</h2>


