@*@model OnlineCabBooking.Models.AreaVM*@

@{
    ViewBag.Title = "ManageArea";
}

<h2>ManageArea</h2>
<table>
    <tr>
        <td colspan="2">@Html.ActionLink("Add New Area", "AddArea","Area")</td>
    </tr>
    <tr><td>Area Name</td></tr>
    @foreach (var result in ViewBag.GetArea)
    {
        <tr><td>@result.AreaName</td><td>@Html.ActionLink("Edit", "Edit", new { id = result.AreaId })</td><td>@Html.ActionLink("Delete", "Delete", new { id = result.AreaId },new { Onclick="return confirm('Are You sure to delete')")</td></tr>
    }
    <tr></tr>
</table>

